@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

:root {
    --content-font: 'Nunito', sans-serif;
    --content-font-color: #A7B9C4;

    --register-desktop-width: calc(600px + 10%);
    --register-mobile-width: calc(270px + 20%);

    --border-radius: 2rem;

    --error-msg-color: #FF3B3B;
    --success-msg-color: #299740;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

.pajo-mini-logo {
    font-family: 'Oswald', sans-serif;
    color: var(--color-text);
    background: var(--background-white-soft);
    width: 80px;
    text-align: center;
}

